<%= render layout: "auth_layout", locals: { title: "Sign up" }  do %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
          <div class="col-md-8 col-lg-7 col-xl-6">
             <%= image_tag('pexels-photo-1943411.jpeg', style: "width:100%;height:590px;",
              class: "img-fluid", alt: "Phone image")%>
          </div>
          <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <form>

              <!-- Name input -->
              <div class="form-outline mb-4">
                <%= f.label :name, class: "form-label" %>
                <%= f.text_field :name, class: "form-control" %>
              </div>


              <!-- Email input -->
              <div class="form-outline mb-4">
                <%= f.label :email, class: "form-label" %>
                <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <div class="flex">
                  <%= f.label :password, class: "form-label" %>
                  <% if @minimum_password_length %>
                    <span class="pl-1 text-xs text-gray-600 mt-1"><em>(<%= @minimum_password_length %> characters minimum)</em></span>
                  <% end %>
                </div>
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
              </div>

              <!-- Password Confirmation -->
              <div class="form-outline mb-4">
                <%= f.label :password_confirmation, class: "form-label" %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
              </div>

              <div class="d-flex mb-4">
                <!-- Checkbox -->

                
              <!-- Submit button -->
              <%= f.submit "Sign up", class: "btn btn-primary btn-block ", style: "align-item" %>
              </div>


              <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
              </div>

              <a class="btn btn-primary btn-block" style="background-color: #3b5998" href="#!"
                role="button">
                <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
              </a>
              <a class="btn btn-primary btn-block" style="background-color: #55acee" href="#!"
                role="button">
                <i class="fab fa-twitter me-2"></i>Continue with Twitter</a>
            </form>
          </div>
        </div>
      </div>
    </section>
  <% end %>
<% end %>
