
  <p>
    <strong>First Name:</strong>
    <%= @booking.first_name %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= @booking.last_name %>
  </p>

  <p>
    <strong>Booking Date:</strong>
    <%= @booking.booking_date %>
  </p>

  <p>
    <strong>Billing Address:</strong>
    <%= @booking.billing_address %>
  </p>
  <div>
    <%= button_to "Edit", {:controller => "bookings", :action => "edit" } , :method=>:get,class:"btn btn-outline-success"%>
  </div>
  <div>
    <%= button_to "Destroy", @booking, method: :delete, class:"btn btn-outline-success" %>
  </div>
  <div>
    <%= button_to "Back", {:controller => "bookings", :action => "index" } , :method=>:get, class:"btn btn-outline-success"%>
  </div>